.modal-div {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 600px;
    height: 480px;
    background-color: black;
    z-index: 10;
    border: grey 1px solid;
}

.exit-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}

.content-div,
.written-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.written-content {
    flex-direction: column;
}

.img-content,
.written-content {
    width: 250px;
    height: 350px;
}

#fields {
    display: none;
    width: 280px;
    height: 25px;
    border: 1px grey solid;
    border-radius: 3px;
    padding-left: 5px;
}

.movie-info:hover > #fields {
    display: block;
}

.saveCancelBtn {
    display: flex;
    justify-content: space-around;
    margin: 25px auto 0;
    width: 400px;
}

.btn-cancel {
    background-color: red;
}

.btn-cancel:hover {
    background-color: rgb(255, 100, 100);
}
