.home-container {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.home-headline-div {
    display: flex;
    margin: 0 auto;
    width: auto;
    width: 90%;
}

.home-headline {
    display: flex;
    width: 85%;
    margin-top: 60px;
    padding: 10 0;
    border: none;
}

.add-movie-btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 120px;
    font-weight: 700;
    border-radius: 5px;
}

.add-movie-btn:hover {
    background-color: #FC4E5C;
    display: flex;
    justify-content: center;
    width: 120px;
    border: 1px solid grey;
    border-radius: 5px;
}

.opacity {
    /* background-color: red; */
    /* display: block;
  position: absolute;
  z-index: 1000; */
}
@media only screen and (max-width:670px) {
    .home-headline {
        display: none;
    }
}
