.home-container {
 width: auto;
 display: flex;
 flex-direction: column;
 height: 100vh;
}

.home-headline-div {
  display: flex;
  margin: 0 auto;
  width: auto;
  width: 90%;
  border: 2px red solid;

}

.home-headline {
  display: flex;
  width: 85%;
  margin-top: 60px;
  padding: 10px; 
  border: none;
  padding-left: 15px;
}

.opacity {
  /* background-color: red; */
  /* display: block;
  position: absolute;
  z-index: 1000; */
}

@media only screen and (max-width:670px) {
  .home-headline {
    display: none;
  }
}