.home-container {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.home-headline-div {
    display: flex;
    margin: 0 auto;
    width: auto;
    width: 90%;
}

.home-headline {
    display: flex;
    width: 85%;
    margin-top: 60px;
    padding: 10 0;
    border: none;
}

.opacity {
    /* background-color: red; */
    /* display: block;
  position: absolute;
  z-index: 1000; */
}
@media only screen and (max-width:670px) {
    .home-headline {
        display: none;
    }
}
